@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Strict Dark Base */
    --background: 3 3 3;
    /* #030303 */
    --foreground: 250 250 250;
    /* #FAFAFA */
    --surface: 10 10 10;

    --card: 10 10 10;
    --card-foreground: 250 250 250;

    --popover: 10 10 10;
    --popover-foreground: 250 250 250;

    --primary: 250 250 250;
    --primary-foreground: 3 3 3;

    --secondary: 39 39 42;
    /* zinc-800 */
    --secondary-foreground: 250 250 250;

    --muted: 39 39 42;
    /* zinc-800 */
    --muted-foreground: 161 161 170;
    /* zinc-400 */

    --accent: 39 39 42;
    --accent-foreground: 250 250 250;

    --destructive: 127 29 29;
    --destructive-foreground: 250 250 250;

    --border: 39 39 42;
    /* zinc-800 */
    --input: 39 39 42;
    --ring: 255 255 255;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

/* Luxury Scrollbar - Dark & Thin */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #27272A;
  /* zinc-800 */
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #3F3F46;
  /* zinc-700 */
}